
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, rgba(139, 137, 174, 0.808), rgb(174, 125, 160));
}

.key_board{
    width: 780px;
    height: 298px;
    border-radius: 10px;
    animation: backgroundChange ease-in 5s infinite;
}

@keyframes backgroundChange {
    0% {
        background-color: rgba(27, 26, 26, 0.833);
        border: 6px solid rgba(27, 26, 26, 0.833);
    }
    10%{
        background-color: rgba(238, 34, 11, 0.89);
        border: 6px solid rgba(238, 34, 11, 0.89);
    }
    20%{
        background-color: rgba(248, 127, 5, 0.916);
        border: 6px solid rgba(248, 127, 5, 0.916);
    }
    30%{
        background-color: rgba(248, 191, 5, 0.916);
        border: 6px solid rgba(248, 191, 5, 0.916);
    }
    40%{
        background-color: rgba(114, 248, 5, 0.916);
        border: 6px solid rgba(114, 248, 5, 0.916);
    }
    50%{
        background-color: rgba(5, 248, 58, 0.916);
        border: 6px solid rgba(5, 248, 58, 0.916);
    }
    60%{
        background-color: rgba(5, 147, 248, 0.916);
        border: 6px solid rgba(5, 147, 248, 0.916);
    }
    70%{
        background-color: rgba(41, 5, 248, 0.916);
        border: 6px solid rgba(41, 5, 248, 0.916);
    }
    80%{
        background-color: rgba(191, 5, 248, 0.916);
        border: 6px solid rgba(191, 5, 248, 0.916);
    }
    90%{
        background-color: rgba(248, 5, 155, 0.916);
        border: 6px solid rgba(248, 5, 155, 0.916);
    }
    100%{
        background-color: rgba(248, 5, 54, 0.916);
        border: 6px solid black;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.row + .row{
    margin-top: 3px;
}

.key{
    width: 50px;
    height: 50px;
    background-color: white;
    color: #333;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
}

.key_1{
    width: 44px;
    height: 20px;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}

.key_esc{
    justify-content: flex-start;
    padding-left: 4px;
    background-color: #ee786e;
}

.key_F{
    line-height: 0.8rem;
    font-size: 0.8rem;
    padding-right: 4px;
    align-items: flex-end;
    justify-content: flex-end;
}

.key_F i{
    font-size: 1.4rem;
    transform: translate(-40%, -20%);
}


.key_2{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2px 20px 0px 0px;

}

.key_backspace{
    width: 75px;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 4px 5px 4px 0px;
}

.key_backspace i{
    font-size: 1.6rem;
    transform: translateX(-60%);
}

.key_tab{
    font-size: 1.2rem;
    width: 65px;
    justify-content: center;
    align-items: center;
}

.key_tab i{
    font-size: 1.6rem;
    color: #333;
    font-weight: 800;
    margin-left: 8px;
}

.key_upenter{
    width: 60px;
}

.key_3{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2px 20px 0px 0px;
}

.key_capslk,
.key_enter{
    width: 87.5px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.key_capslk .hidden{
    display: none;
}

.key_enter i,
.key_capslk i{
    font-size: 1.6rem;
    color: #333;
    font-weight: 800;
    margin-left: 8px;
}

.key_enter i{
    margin-left: 0;
    margin-right: 8px;
    font-size: 2rem;
    transform: rotate(90deg);
}

.key_4{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2px 20px 0px 0px;
}

.key_shift--left,
.key_shift--right{
    width: 112.5px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.key_shift--left i{
    font-size: 2rem;
    color: #333;
    font-weight: 800;
    margin-left: 8px;
}

.key_shift--right i{
    margin-left: 0;
    margin-right: 8px;
    color: #333;
    font-size: 2rem;
}

.key_5{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2px 20px 0px 0px;
}

.key_ctrl{
    width: 60px;
}

.key_space{
    width: 278px;
}

.key_updown{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.key_up,
.key_down{
    height: 24px;
}

.key_6{
    align-items: center;
    font-size: 1.2rem;
    justify-content: center;
}

.key_6 i{
    font-size: 1.8rem;
}

.key_move{
    font-size: 1rem;
    background-color: #a2ccb6;
}

.key_move i{
    font-size: 1.4rem;
    padding: 4px;
}

.key.key_active_esc{
    background-color: #fa5252;
}

.key.key_active{
    background-color: #ffc078;
}

.key.key_active_move{
    background-color: #0ca678;
}


/*   Selector Background   */
.select-background{
    position: absolute;
    top: 10%;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.select-background div{
    font-size: 1.4rem;
}

.select-background input{
    transform: scale(1.4);
    margin-right: 2px;
}

